<launch>
  <param name="judge_self_collision_flag" type="int" value="0"/>
  <node name="collision_check" pkg="polishingrobot_viewpointplanner" type="polishingrobot_viewpointplanner" respawn="false" output="screen">
  </node>
  <include file="$(find polishingrobot_moveit_config)/launch/demo.launch">
  </include>

</launch>
